.app-container {
	background-color: rgb(88, 92, 94);
	margin: 30px;
	width: 305px;
	height: 480px;
	border-radius: 5px;
	border-width: 2px;
	border-bottom-color: rgb(61, 95, 102);
	border-right-color: rgb(61, 95, 102);
	border-style: outset;
	-webkit-box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.29);
	-moz-box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.29);
	box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.29);
}
